.bg--image {
   background: 
    linear-gradient(180deg, rgba(20, 54, 52, 0.88) 0%, #143634 100%), 
    url("../../img/background-hero.jpg"); 
   background-size: cover;
   height: 320px;
   padding-top: 35px;
}

.github-icon {
    font-size: 30px;
    color: #86E1FF;
}

.github-icon:hover {
    opacity: .5;
    transition: ease-in .2s;
}

@media only screen and (max-width: 768px) {
    .bg--image {
        height: 230px;
     }
  
  }
  