.dropdown, 
.btn {
  font-family: 'lato', -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #86E1FF;
  background-color: #326360;
  border: none;
}

.btn {
  padding: .65rem 1rem;
}

.border-radius {
  border-radius: 0 10px 10px 0;
}

.btn:hover {
  background-color: #1B4644;
  color: #86E1FF;
}
.btn:focus {
  background-color: #1B4644;
  color: #86E1FF;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  color: #1B4644;
  background-color: #86E1FF;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle:active {
  color: #1B4644;
  background-color: #86E1FF;
}

.margin {
  margin-bottom: 20px;
}

.dropdown-menu {
  background-color: #326360;
  transition: ease .2s;
}

.dropdown-item {
  color: #86E1FF;
}

.dropdown-item:hover {
  background-color: #1B4644;
  color: #86E1FF;
}






@media only screen and (max-width: 768px) {
  

  .full-width {
    width: 100%;
  }

}
